<div id="post-{{id}}" class="card">
    <img class="card-image" src="/{{thumbnail}}">
    <div class="card-body">
        <p class="card-title"><a href="/posts/{{id}}">{{title}}</a></p>
    </div>
</div>