<header>
    <h1>GatorTube</h1>
    <nav>
        <ul class="main-nav">
            <input type="text" placeholder="Search">
            <li><a href="/postvideo" class="post">Post</a></li>
            <li><a href="/login" class="login">Login</a></li>
            <li><a href="/registration" class="register">Register</a></li>
        </ul>
    </nav>
</header>