<header>
    <img class="titleimg1" src="/public/sfgate.png" width="130" height="96" />
    <h1 class="title" >GatorTube</h1>
    <img class="gator" src="/public/alli.png" width="168" height="96" />
    <input class="search-bar" type="text" placeholder="Search">
    <img class="titleimg2" src="/public/sfgate2.png" width="130" height="96" />
</header>