<header>
    <h1>GatorTube</h1>
    <nav>
        <ul class="main-nav">
            <input type="text" placeholder="Search">
            {{#if this.isLogged}}
                <li><a href="/postvideo" class="post">Post</a></li>
                <li><a href="#" class="account">Hi, {{user.username}}</a></li>
                <li>
                    <form class="logout-form" action="/users/logout" method="post">
                        <button class="logout" type="submit">Log Out</button>
                    </form>
                </li>
            {{else}}
                <li><a href="/registration" class="post">Post</a></li>
                <li><a href="/registration" class="register">Register</a></li>
                <li><a href="/login" class="login">Login</a></li>
            {{/if}}
        </ul>
    </nav>
</header>