<div class="resources">
    <div class="resource-links">
        <div class="mascot">
            <img src="/public/gator.png" width="300" height="300" alt="" />
        </div>
        <div class="aboutus">
            <h5>About Us</h5>
            <li><a href="#" class="about">About GatorTube</a></li>
            <li><a href="#" class="access">Accessibility</a></li>
            <li><a href="#" class="jobs">Careers</a></li>
            <li><a href="#" class="sustain">Sustainability</a></li>
        </div>
        <div class="support">
            <h5>Support</h5>
            <li><a href="#" class="contact">Contact Us</a></li>
            <li><a href="#" class="tos">Terms & Conditions</a></li>
            <li><a href="#" class="aup">Acceptable Use Policy</a></li>
            <li><a href="#" class="cookies">Cookie Settings</a></li>
        </div>
        <div class="socials">                
            <h5>Social Media</h5>
            <li><a href="#" class="fb">Facebook</a></li>
            <li><a href="#" class="x">X (Formerly Twitter)</a></li>
            <li><a href="#" class="ig">Instagram</a></li>
            <li><a href="#" class="tt">TikTok</a></li>
        </div>
    </div>
</div>