<div class="left-side-bar">
    <div class="logo">
        <img src="/public/sf.png" width="120" height="120" />
    </div>
    <li><a href="/" class="home">Home</a></li>
    <li><a href="#" class="shorts">Shorts</a></li>  
    <li><a href="#" class="subscriptions">Subscriptions</a></li>
    <li><a href="#" class="settings">Settings</a></li>
</div>