<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Sergio Ulices Gonzalez Guerrero"/>

    <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">
    <link rel='stylesheet' href='/public/css/style.css'/>
    <script defer src="/public/js/jsfile.js"></script>
  </head>

  <body>
    {{#if (nonEmptyObject messages)}}
      {{>flashmessages this}}
    {{/if}}
    <div id="container">
      {{> header}}
      {{> sidebar}}
      {{{body}}}
      {{> resources}}
      {{> footer}}
    </div>
  </body>

</html>
