<main>
    <h2>Log In</h2>
    <div class="login-form">
        <form action="/">
            <div class="login-item">
                <label for="username">Username: </label>
                <input type="text" name="username" id="username" placeholder="Username" />
            </div>

            <div class="login-link">
                <a href="#">Forgot Username</a>
            </div>

            <div class="login-item">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" placeholder="Password" />
            </div>

            <div class="login-link">
                <a href="#">Forgot Password</a></label>
            </div>

            <div class="login-box">
                <label for="stay_in">Stay Signed In</label>
                <input type="checkbox" name="stay_in" id="stay_in" />
            </div>

            <div class="login-button">
                <button type="submit">Log In</button>
                <button type="reset">Clear</button>                
            </div>
        </form>
    </div>
</main>