<main>
    <h2>Register</h2>

    <div class="registration-form">
        <form onsubmit="return validateRegistration()" action="/login">
            <div class="registration-item">
                <label for="email">Email: </label>
                <input type="email" name="email" id="email" placeholder="user@email.ext" required />
            </div>

            <div class="registration-item">
                <label for="username">Username: </label>
                <input type="text" name="username" id="username" placeholder="Username" required />
            </div>

            <div class="registration-item">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" placeholder="Password" required />
            </div>

            <div class="registration-item">
                <label for="confirm_password">Confirm Password: </label>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Password" required />
            </div>

            <div class="registration-box">
                <label for="confirm_age">I confirm I am 13+ years of age</label>
                <input type="checkbox" name="confirm_age" id="confirm_age" required />
            </div>

            <div class="registration-box">
                <label for="tos">I agree to the <a href="#">Terms of Service</a></label>
                <input type="checkbox" name="tos" id="tos" required />
            </div>

            <div class="registration-button">
                <button type="submit">Register</button>
                <button type="reset">Clear</button>
            </div>
        </form>
    </div>
</main>