<main>
    <article class="user-post">
        <video id="video" width="1200" height="675" controls>
            <source src="/public/12599348-hd_1920_1080_30fps.mp4" type="video/mp4">
        </video>
        <div class="vid-info">
            <h3>Title: Lorem Ispum Unum</h3>
            <p id="description">Description: Lorem Ispum Unum</p>
            <p id="author">Posted by: ulicessgg</p>
            <p id="creation-time">Posted at: 07/04/2024 @ 13:57:48pm</p>
        </div>
        <section id="comments">
            <div class="comment-section">
                <h3>Comments</h3>
                <h4>Username: </h4>
                <p>Insert User Comments here</p>
                <br>
            </div>
        </section>
    </article>
</main>