@charset "utf-8";

@font-face {
  font-family: mainFont;
  src: url(../Oswald-Regular.ttf);
}

* {
  text-align: center;
}

header {
  background: linear-gradient(rgba(35, 17, 97, .875), rgba(35, 17, 97, .875));
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 180px; 
  padding-top: 8px;
}

.titleimg1 {
  margin-right: 0px;
  padding-right: 0;
}

.title {
  margin-left: 24px;
}

.gator {
  margin-left: 36px; 
  margin-right: 36px; 
}

.search {
  margin: 0;
  padding: 0;
}

.search-bar {
  margin-top: 16px;
  margin-right: 24px;
  width: 184px;
}

.search-bar:hover {
  width: 552px;
}

.search-button {
  visibility: hidden;
}

.titleimg2 {
  margin-left: 0px;
  padding-left: 0;
}

textarea {
  color:#53565a;
  border-style: solid;
  border-radius: 36px;
  height: 128px;
  width: 640px;
  padding-top: 16px;
  margin-top: 16px;
}

i, span {
  width: 128px;
  height: 128px;
  color:#C99700;
  -webkit-text-stroke: #ffffff;
  border-style: solid;
  border-radius: 36px;
}

i:hover, span:hover {
  color:#ffffff;
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(../gldgate2.jpg);
  background-position:right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
}

main {
  background: linear-gradient(rgba(70, 48, 119, 0.75), rgba(35, 17, 97, 0.75));
  padding-top: 8px;
  margin-left: 180px; 
  padding-bottom: 24px;
  align-items: center;
}

footer {
  background: linear-gradient(rgba(35, 17, 97, 0.875), rgba(35, 17, 97, 0.875));
  color: #C99700;
  font-size: clamp(12px, 18px, 24px);;
  margin-left: 180px;
}

h1, h2, h3, h4, h5, a, label, input, p, footer {
  font-family: mainFont;
  text-decoration: none;
}

h1 {
  color: #C99700;
  font-size: clamp(36px, 54px, 72px);

}

h2 {
  color: #E9D597;
  font-size: clamp(48px, 60px, 72px);;
  text-decoration: none;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 396px;
  margin-right: 32px;
  padding: 0;
}

h3 {
  color: #E9D597;
  font-size: clamp(36px, 48px, 60px);
}

h4 {
  color: #E9D597;
  font-size: clamp(24px, 36px, 48px);
}

p {
  color: #E9D597;
  font-size: clamp(12px, 24px, 36px);
  text-decoration: none;
}

a {
  text-align: center;
}

img {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
}

video {
  color: #53565a;
  border: thick;
  border-style: solid;
  border-radius: 36px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
}

label {
  color: #E9D597;
  font-size: clamp(36px, 48px, 60px);
  text-decoration: solid;
  margin-bottom: 16px;
}


input {
  color: #C99700;
  border: thick;
  border-style: solid;
  border-radius: 36px;
  font-size: clamp(24px, 36px, 48px);
  text-decoration: solid;
  margin-bottom: 16px;
}

input[type="file"] {
  margin-top: 32px;
  font-family: mainFont;
}

.submit-button, .reset-button, .login-button, .register-button, .post-button {
  color: #26547C;
  border-radius: 36px;
  font-family: mainFont;
  font-size: clamp(24px, 36px, 48px);
  text-decoration: solid;
  text-align: center;
  margin-bottom: 18px;
}

.submit-button:hover, .reset-button:hover, .login-button:hover, .register-button:hover, .post-button:hover {
  color: #38635A;
}

.register-redirect, .login-redirect {
  color: #26547C;
  font-size: clamp(24px, 36px, 48px);
  text-decoration: solid;
  text-align: center;
  margin-bottom: 32px;
}

.register-redirect:hover, .login-redirect:hover {
  color: #38635A;
}

.main-nav {
  height: 36px;
  display: inline-flex;
  text-align: center;
  margin-left: 136px;
  padding-bottom: 16px;
}

.main-nav ul {
  padding: 0;
  margin: 0;
}

.main-nav li {
  color: #C99700;
  font-size: clamp(24px, 42px, 60px);
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 64px;
  margin-right: 64px;
  align-items: center;
  text-align: center;
}

.main-nav a {
  color: #604C11;
  font-size: clamp(24px, 42px, 60px);
  text-decoration: none;
}

.main-nav a:hover {
  color: #C99700;
  font-size: clamp(24px, 42px, 60px);
  text-decoration: none;
  font-weight: bold;
}

.left-side-bar {
  background: linear-gradient(rgba(0, 0, 0, 0.875), rgba(0, 0, 0, 0.875));
  height: 100%; 
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0; 
  text-align: center;
}

.left-side-bar img {
  margin-top: 21px;
  margin-left: 26px;
  color: #ffffff;
  border: thick;
  border-style: solid;
}

.left-side-bar ul {
  padding: 0;
  margin: 0;
}

.left-side-bar li{
  list-style: none;
  text-align: center;
  margin-bottom: 36px;
}

.left-side-bar a {
  color: #ffffff;
  font-size: clamp(12px, 24px, 36px);
  text-decoration: none;
  text-align: center;
}

.left-side-bar a:hover {
  color: #933311;
  font-size: clamp(12px, 24px, 36px);
  font-weight: bold;
}

.resource-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 180px;
}

.mascot, .aboutus, .support, .socials {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.aboutus h5, .support h5, .socials h5 {
  color: #53565a;
  font-size: clamp(24px, 36px, 48px);
  text-decoration: underline;
  margin: 0;
}

.aboutus li, .support li, .socials li{
  list-style: none;
}

.aboutus a, .support a, .socials a {
  color: #26547C;
  font-size: clamp(12px, 24px, 36px);
  text-decoration: none;
  display: block;
}

.aboutus a:hover, .support a:hover, .socials a:hover {
  color: #6B702B;
  font-weight: bold;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.card {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  color: #53565a;
  border: thick;
  border-style: solid;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  height: 288px;
  width: 288px;
}

.card img {
  height: 144px;
  width: 256px;
  color: #53565a;
  border: thick;
  border-style: solid;
  border-radius: 36px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.card-title a {
  color: #53565a;
  font-size: clamp(12px, 24px, 36px);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.card-title:hover a {
  color: #38635A;
}

.post-body {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  color: #53565a;
  border: thick;
  border-style: solid;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  height: 144px;
  width: 288px;
}

.post-title h4, p {
  color: #53565a;
  font-size: clamp(12px, 24px, 36px);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.login-form, .registration-form, .upload-form {
  min-width: 360px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 32px;
  margin-right: 32px;
  
  background: linear-gradient(rgba(83, 86, 90, 0.5), rgba(83, 86, 90, 0.5));
  color: #53565a;
  border: thick;
  border-style: solid;
  border-radius: 36px;
  width: 768px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.login-item, .registration-item, .upload-item {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: left;
  margin-top: 18px;
  margin-bottom: 18px;
}

.login-box, .registration-box, .upload-box {
  display: inline-block;
  align-items: center;
  margin-bottom: 18px;
}

.login-link {
  margin-bottom: 18px;
}

.login-link a, .login-box a, .registration-box a, .upload-box a {
  color: #E9D597;
}

.login-link a:hover, .login-box a:hover, .registration-box a:hover, .upload-box a:hover {
  color: #26547C;
}

.registration-button, .upload-button {
  display: inline-block;
  align-items: center;
  margin: 10px 0;
  margin-left: 32px;
  margin-right: 32px;
}

.upload-video {
  display: inline-block;
  flex-direction: column;
  align-items: right;
  margin-left: 36px;
}

.user-post {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  color: #53565a;
  border: thick;
  border-style: solid;
  border-radius: 36px;
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 36px;
}

.comment {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  color: #53565a;
  border: thick;
  border-style: solid;
  border-radius: 36px;
  width: 512px;
  margin: 0 auto;
  margin-top:36px;
  margin-bottom:36px;
}

.user-info h3, .vid-info h3, .comment-section h3 {
  color: #E9D597;
  -webkit-text-stroke-color: #C99700;
  -webkit-text-stroke-width: 0.01px;
  font-size: clamp(24px, 36px, 48px);
  text-decoration: underline;
  text-align: left;
  margin: 0;
  margin-top: 16px;
  margin-left: 144px;
}

.organizer {
  background: linear-gradient(rgba(83, 86, 90, 0.25), rgba(83, 86, 90, 0.25));
  color: #53565a;
  border: thick;
  border-style: solid;
  border-radius: 36px;
  width: 1024px;
  margin: 0 auto;
  margin-top: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.comment-section h4 {
  color: #E9D597;
  font-size: clamp(24px, 30px, 36px);
  text-decoration: none;
  text-align: left;
  margin: 0;
  margin-top: 16px;
  margin-left: 144px;
}

.vid-info p, .comment-section p {
  color: #E9D597;
  font-size: clamp(12px, 24px, 36px);
  text-decoration: none;
  text-align: left;
  margin: 0;
  margin-top: 16px;
  margin-left: 144px;
}