@charset "utf-8";


/* CSS Document */
* {
  text-align: center;
}


@font-face {
  font-family: mainFont;
  src: url(../Jaro-Regular-VariableFont_opsz.ttf);
}


@font-face {
  font-family: outFont;
  src: url(../ChivoMono-VariableFont_wght.ttf);
}


header {
  background-color: rgba(0, 0, 0, 0.75);
  display: inline-flex;
  flex-direction: row;
  -ms-flex-align: center;
}


body {
  background: linear-gradient(rgba(35, 17, 97, 0.625), rgba(35, 17, 97, 0.625));
  background-position: auto;
  height: 100%;
  width: 100%;
  margin: 0;
  background-blend-mode: normal;
}


main {
  background: linear-gradient(rgba(0, 0, 0, 0.625), rgba(0, 0, 0, 0.625));
}


#home-id .home,
#login-id .login,
#register-id .register,
#post-id .post,
#view-id .view {
  font-size: 48pt;
  color: #933311;
}


.home:hover,
.login:hover,
.register:hover,
.post:hover,
.view:hover {
  font-size: 48pt;
  color: #E9D597;
}


.main-nav li {
  align-items: center;
  font-size: 36pt;
  display: inline-block;
  margin: .36em;
}


.main-nav a {
  text-shadow: 0 0 0;
  color: #C99700;
}


a:hover {
  color: #E9D597;
}


.video-previews {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
}




img {
  border-color: #C99700;
  border: thick;
  border-style: solid;
  border-width: 8px;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
}


video {
  color: #C99700;
  border-color: #C99700;
  border: thick;
  border-style: solid;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
}


h1, h2, h3, h4, a, label, footer {
  font-family: mainFont;
}


h5, p, input {
  font-family: outFont;
}


h1 {
  color: #C99700;
  font-size: 60px;
  align-content: center;
  margin-left: 32px;
  margin-right: 32px;
}


a {
  color: #C99700;
  text-align: center;
  font-weight: bold;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 32px;
}


h2 {
  color: #E9D597;
  font-size: 60px;
  text-align: left;
  text-decoration: underline;
  margin-bottom: 32px;
  margin-left: 128px;
  margin-right: 32px;
  margin-top: 48px;
  -webkit-text-stroke: 1px #C99700;
}


h3 {
  color: #E9D597;
  font-size: 48px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
  -webkit-text-stroke: 1px #C99700;
}


h4 {
  color: #E9D597;
  font-size: 36px;
  text-align: left;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
}


.login-form {
  align-items: center;
}


.registration-form {
  align-items: center;
}


form {
  display: inline-block;
  position: left;
}


label {
  color: #C99700;
  font-size: 48px;
  text-decoration: solid;
  text-align: left;
  margin-bottom: 32x;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
}


input {
  color: #C99700;
  font-size: 36px;
  inpu
  text-decoration: solid;
  text-align: center;
  margin-bottom: 128x;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
}


button {
  color: #463077;
  font-size: 36px;
  text-decoration: solid;
  text-align: center;
  margin-bottom: 32x;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
}


p {
  color: #E9D597;
  font-size: 24px;
  text-decoration: none;
  text-align: left;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
}


footer {
  color: #C99700;
  font-size: 24px;
  margin-bottom: 16px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
}
